@import "../../globals/styles/_global.scss";
@import "../Button/Button.scss";

.InputSelect{
	position: relative;
	width: 130px;
	display: inline-block;
	.selectTrigger{
		position: relative;
		border-radius: 3px;
		font-size: inherit;
		text-transform: inherit;
		font-family: $sansSerifFontStack;
		background: $nomosLightGrey;
		padding: $padding/2 $padding*2;
		cursor: pointer;
		display: inline-block;
		white-space: nowrap;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: $font-size-small;
		user-select: none;
		position: relative;
		padding-right: 30px;
		.triggerContent{
			display: inline-block;
			vertical-align: middle;
		}
		.arrowWrap{ //thre drop down icon bit
	    right: 0;
	    top: 0;
	    // line-height: 1.5em;
			text-align: center;
			position: absolute;
			width: 24px;
			// padding-left: 4px;
			// padding-right: 4px;
			height: 100%;
			border-left: 1px solid rgba(255, 255, 255, 0.25);
			background: rgba(0,0,0,.015);
	    border-radius: 0 4px 4px 0;
			display: block;
			visibility: visible;		
			.iconWrap{
				width: 100%;
				height: 100%;
				padding: .5em;
				display: block;
			}
		}
	  &:hover {
	    color: $nomosBlack;
	    text-decoration: none;
	    background: lighten($nomosLightGrey, 5%);
	  }
	}
	&.isOpen{
		.selectTrigger{
	    color: $nomosGrey;
	    text-decoration: none;
	    background: lighten($nomosLightGrey, 5%);
		}
	}
	.actionItems{
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 130px;
		margin-top: 4px;
		background: #fff;
		box-shadow: 0 1px 16px -5px rgba(0, 0,0, .35);
		border-radius: 4px;
		z-index: $z-index-top;
		text-transform: capitalize;
	}
	.actionItem{
		background: transparent;
		color: $nomosBlack !important;
		text-align: left;
		text-decoration: none;
		padding: 8px;
		cursor: pointer;
		&:hover{
			color: #000 !important;
			background: #f9f9f9 !important;
		}
	}
	
	//MODIFIERS
	&.isOpen + .actionItems{
		//display: block;
	}
	&.white{
		.selectTrigger{
			background: #fff;
			border: 1px solid $nomosLine;
		}
		.actionItems{
		}
		&.isOpen{
			.selectTrigger{
				color: $nomosLightGrey;
			}
		}
	}
	&.wide{
		width: 100%;
		.selectTrigger{
			width: 100%;
		}
		.actionItems{
			width: 100%;
		}
	}
	&.right{
		text-align: right;
	}
}