@import "../../globals/styles/_global.scss";

.Row{
	lost-utility: clearfix;
	&.isFlex{
		lost-flex-container: row;
	}
	&.devMode{
		background: rgba(255, 0, 0, 0.15);
		border: 1px solid rgba(255, 0, 0, 0.25);
	}
	&.hasPadding{
		padding: 8px;
	}
	lost-row: attr(data-rows)/attr(data-maxRows);
	// COLORS
	&.black{
		background: $nomosBlack;
	}
	&.darkGrey{
		background: $nomosDarkGrey;
	}
	&.grey{
		background: $nomosGrey;
	}
	&.lightGrey{
		background: $nomosLightGrey;
	}
	&.lightLightGrey{
		background: $nomosLightLightGrey;
	}
	&.white{
		background: #fff;
	}
	&.blue{
		background: $nomosBlue;
	}
	&.red{
		background: $nomosRed;
	}
	&.orange{
		background: $nomosOrange;
	}
	&.green{
		background: $nomosGreen;
	}

}