@import "../../globals/styles/_global.scss";
@import "../../globals/styles/_layouts.scss";

.Full{
	// STRUCTURAL DIVS
	.header{
		// width: 100%;
	}
	.content{
	// 		background: #fff;
	//	border-radius: 4px 4px 0 0;
	}
	.hero{
		// width: 100%;
	}
	.navWrap{
		
	}
	.nav{
		
	}
	.supplimentary{
		
	}
	.main{
		min-height: 100%;
	}
	.secondary{
		
	}
	.footer{
		width: 100%;
	}
	

	//GRID SETUPS
	/*See _layouts.scss*/
	//CONTENT
}