@import "../../globals/styles/_global.scss";

.Statistic {
	display: block;
	margin-right: $padding;
  padding-top: 2px;
  min-width: 100px;
  position: relative;
  vertical-align: top;
	.theContent{
		font-size: 24px;
		line-height: 24px;
	}
	.theUnits{
		font-size: 12px;
		color: $nomosLightGrey;
	}
	&.inline{
		display: inline-block;
		margin-left: 8px;
		&.noMargin{
			margin-left: 0;
		}
	}
	&.isHorizontal{
		.theContent{
			display: inline
		}
		.theUnits{
			display: inline;
			padding-left: 4px;
		}
	}
	.divider{
		display: none;
	}
	&.hasDivider{
		.divider{
			display: block;
		  width: 100%;
		  height: 2px;
		  position: absolute;
			top: 0;
			background: $nomosBlack;
		}
	}
	&.white{
		color: #fff;
		.divider{
			background: #fff;
		}
		h4, h4.subtitle, .subtitle, .theContent, .theUnits{
			color: #fff;
		}
	}
}