:root {
  --fontSize: 1rem;
}
.loginPage {
		animation: slideUp .3s ease;

	//CONTAINER
	.loginCard{
		max-width: 800px;
		padding: 0;
		overflow: hidden;
		margin: 0 auto;
		lost-utility: clearfix;
		height: 100%;
		border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.05);
    border-radius: 4px;
		form{
			margin: 0;
			lost-waffle: 5/12;
			padding: 8px;
			h2{
				padding-left: 8px;
				border-left: 4px solid #4A90E2;
				margin-left: -8px
			}
		}
		.formInstructions{
			lost-column: 7/12;
			padding: 24px 16px;
			background: #f9f9f9;
			border-left: 1px solid #eee;
			height: 100%;
			min-height: 260px;
		}
	}
  input {
    padding: 4px 8px 4px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin: 0 8px 0 0;
    width: 100%;
    font-size: 1em;
		//color: color(red alpha(-10%));
		position: relative;
		outline: none;
    z-index: 1;
		&:focus, &:valid{
			outline: none;
      ~ label {
        color: #777;
        transform: translate(-12%, -50%) scale(0.75);
			}
		}
		&:focus{
			border-bottom: 1px solid #4A90E2;			
		}
		
		~ label{
			position: absolute;
			top: 0;
	    left: 0;
	    color: #aaa;
	    font-size: 1em;
	    font-weight: normal;
	    line-height: 1em;
	    transition: 0.2s ease;
	    padding: 8px 16px 8px 8px; 
		}
  }
}	
html{
	min-height: 100%;
}



@keyframes slideUp {
    from {
     // opacity: 0;
	    transform: translateY(5px);
    }
    to {
	   // opacity: 0;
	    transform: translateY(0px);
    }
}
