:root {
  --fontSize: 1rem;
}
.loginPage {
		animation: slideUp .3s ease;

  input {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin: 0 8px 0 0;
    width: 100%;
    font-size: 1em;
		//color: color(red alpha(-10%));
		position: relative;
		outline: none;
    z-index: 1;
		&:focus, &:valid{
			outline: none;
      ~ label {
        color: #777;
        transform: translate(-12%, -50%) scale(0.75);
			}
		}
		&:focus{
			border-bottom: 1px solid #4A90E2;			
		}
		
		~ label{
			position: absolute;
			top: 0;
	    left: 0;
	    color: #aaa;
	    font-size: 1em;
	    font-weight: normal;
	    line-height: 1em;
	    transition: 0.2s ease;
	    padding: 8px 16px 8px 8px; 
		}
  }
  .btn{
  }
  form {
    //margin: 30px 0;
  }
	a {
  	//color: color(red alpha(-10%));
	}
	.loginCard{
		max-width: 800px;
		padding: 0;
		overflow: hidden;
		margin: 0 auto;
		lost-utility: clearfix;
		height: 100%;
		form{
			margin: 0;
			lost-waffle: 5/12;
			padding: 8px;
			h2{
				padding-left: 8px;
				border-left: 4px solid #4A90E2;
				margin-left: -8px
			}
		}
		.formInstructions{
			lost-column: 7/12;
			padding: 24px 16px;
			background: #f9f9f9;
			border-left: 1px solid #eee;
			height: 100%;
			min-height: 260px;
		}
	}
body{
	min-height: 100%;
	background: #363737;
	background: #324242;
	//background-image: radial-gradient(#555555 0%, #363737 100%);
	background-image: linear-gradient( #363737 13%, #111 100%);
	h1{
		color: #eee;
	}
}
}

.container{
	background: transparent;
}
html{
	min-height: 100%;
}



@keyframes slideUp {
    from {
     // opacity: 0;
	    transform: translateY(5px);
    }
    to {
	   // opacity: 0;
	    transform: translateY(0px);
    }
}
