@import "../../globals/styles/_global.scss";

.MainNavWrap {
  position: fixed;
  left: 0;
  top: 0;
  //width: 100%;
  height: 100%;
  //overflow: hidden;
  pointer-events: none;
  z-index: 150;
	.navBarContent{
    position: relative;
    display: block;
    width: 240px;
    height: 100%;
    //-webkit-transform: translateX(-100%);
    transform: translateX(-100%);
 		transition: all 330ms ease-in-out;
    will-change: all;
    pointer-events: auto; 
	  color: $nomosGrey;
	  //position: fixed;
	  z-index: 160;
	  color: #fff;
	  background: #444;
	  background: $nomosDarkBlack;
	}
  &:after {
    content: '';
    // display: block;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    opacity: 0;
	}
  &.navOpen{
    pointer-events: auto;
    .navBarContent{
      // -webkit-transform: 0%;
 		  transition: all 330ms ease-in-out;
 			transform: translateX(0%);
    }

		&.animatable {
			.navBarContent {
		    transition: translate 330ms ease-out;
		  }
		}
		&:after {
	    //opacity: .4;
	    opacity: 0;
	    pointer-events: auto;
		}
  }
  &.navDocked{
		.navBarContent{
			width: 60px;
		}
		text-align: left;
	  //-webkit-transform: translateX(-100%);
	//	transform: translateX(-100%);
	//	transition: transform 300ms linear;
	//	will-change: transform;
	
	  &.navOpen{
			//transform: translate3d(0, 0, 0);
			//background: $nomosDarkBlack;
			  //  -webkit-transform: none;
          //  transform: none;
	  }
	  &.navClosed{
			//transform: translate3d(-240px, 0, 0);
			//background: $nomosDarkBlack;
	  }
  }
  lost-utility: clearfix;
	.navigation{
    display: block;
		.menuItem{
			display: block;
			padding: 0;
			padding: 0 8px;
			color: $nomosLightGrey;
			cursor: pointer;
			line-height: 50px;
			text-decoration: none;
			&:hover{
				color: #fff;
				// background: rgba(255,255,255,.05);
				background: rgba(0,0,0,.5);
			}
			&.active{
				border-bottom: 4px solid $nomosBlue;
				// background: rgba(255,255,255,.05);
				background: rgba(0,0,0,.5);
			}		
		}		
	}
	&.navDocked{
		.navigation{
			.menuItem{
				padding: 0 8px;
				font-size: 12px;
			}
		}
	}
	.silo{
		height: 50px;		
		line-height: 50px;
		&:first-child{
			border-left: none;
		}
	}
	.hamburger{
		position: absolute; 
		top: 24px;
		left: 240px;
		z-index: 999;
		padding: 8px 4px ;
	}



	// NAV ITEMS
	// media: see global.scss
	.media{
		padding: 4px 4px 4px 8px;
		.figure{
			width: 24px;
			margin-top: 4px;
		}
		.body{
			flex: 1;
			h5{
				color: $nomosGrey;
				font-size: 16px;
				line-height: 32px;
			}
		}
		&:hover{
			//background: rgba(255,255,255,.05);
			background: rgba(0,0,0,.5);
			.body h5{
				color: $nomosLightGrey;	
			}
		}
		&.active{
			border-bottom: 4px solid $nomosBlue;
			background: rgba(255,255,255,.05);
		}		
	}
}

