@import "../../globals/styles/_global.scss";

.app {
	text-align: left;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	.appContent{
		height: 100%;
	}
	.appLoading{
		opacity: 0;
		display: none;
		text-align: left;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $nomosDarkBlack;
		z-index: 152;
		transition: opacity .3s ease;
		&.centered{
			display: none;
		  align-items: center;
		  justify-content: center;
		}
		.loadingMessage{
			text-align: left;	
			color: $nomosGrey;
		}
	}
	h1{
		font-weight: 100;
	}
	h2{
		font-weight: 100;
	}
	h3{
		font-weight: normal;
		padding: $padding 0;
		line-height: $padding*4;
		margin: 0;
	}
	h4, .subtitle{
		display: block;
		font-weight: normal;
		padding: 0;
		margin: 0;
		color: $nomosGrey;
		text-transform: uppercase;
		font-size: $font-size-small;
	}
	h5{
		padding: 0;
		margin: 0;
		line-height: $padding*2;
		color: $nomosGrey;
	}
	//MODIFIERS
	&.isConnecting{
		.appLoading{
			opacity: 1;
			&.centered{
				display: flex;
			}
		}
		.appContent{
			opacity: 0;
		}
	}
	&.isLoading{
		.appLoading{
			opacity: 1;
			&.centered{
				display: flex;
			}
		}
		.appContent{
			opacity: 0;
		}
	}
}

html{
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	height: 100%;
}
body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	color: $nomosBlack;
	background: #eee;
	padding-left: 240px;
	margin: 0;
	height: 100%;
}

.layoutWrap{
	height: 100%;
	max-width: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;	
}