@import "../../globals/styles/_global.scss";
@import "../Button/Button.scss";

.ButtonGroup{
	display: inline-block;
  vertical-align: middle;
	.Button{
		float: left;
    border-radius: 0;
    margin-left: 0;
    padding: 4px 8px;
    border: 1px solid $nomosLine;
    margin-right: 0 !important;
    margin-bottom: 8px;
    background: transparent;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    &.selected{
	    background: $nomosBlue;
    }
    &:before{
	    font-weight: normal;
	    font-size: 1.2em;
	    line-height: 1em;
    }
    &:not(:last-child) {
	    border-right: 0; 
    }
    &.selected{
	     border-bottom-color: $nomosBlue;
	     border-top-color: $nomosBlue;
    }
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; 
      &.selected{
	     border-left-color: $nomosBlue;
      }
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; 
      &.selected{
	     border-right-color: $nomosBlue;
      }
    }
	}

  &.buttonCount2 .Button {
    width: 50%; 
    }
  &.buttonCount3 .Button {
    width: 33.3333333333%; 
    }
  &.buttonCount4 .Button {
    width: 25%; 
    }
  &.buttonCount5 .Button {
    width: 20%; 
    }
  &.buttonCount6 .Button {
    width: 16.6666666667%; 
    }
  &.buttonCount7 .Button {
    width: 14.2857142857%; 
    }
  &.buttonCount8 .Button {
    width: 12.5%; 
    }
	&.large{
		background: red;
		.Button{
  	  line-height: 6px;
	    font-size: 10px;
			min-width: 70px;
			padding: 0;
			height: 64px;
		}
	}
	+ .Button{
		margin-left: 4px; //adds a little gap for when the edit btn comes after it.
	}
	
	// HERO VERSION
	&.hero{
		// lost-utility: edit;
		lost-utility: clearfix;
		//lost-gutter: 0;
		@lost gutter 0px;
		@lost flexbox flex;
		 lost-flex-container: row;
		height: 100%;
		border-radius: 3px;
		&.buttonCount4 {
			.optionItem{
				lost-column: 1/4 flex; // se below for others.
			}
		}
	}
	.optionItem{
		//lost-waffle: 1/3;
		lost-column: 1/3 flex; // se below for others.
		background: red;
		// lost-gutter: 0;
		// lost-flex: flex;
		border: 1px solid $nomosLine;
		border-right: none;
		background: #fff;
		//margin-right: 0;
		padding: 16px;
		//transform: scale3d(1,1,1);
		transition: all .2s ease-out;
		&:first-child{
			border-radius: 4px 0 0 4px;
		}
		&:last-child{
			border-radius: 0 4px 4px 0;
			border-right: 1px solid $nomosLine;	
		}
		.subcontent{
			font-style: italic;
		}
		p{
			margin-top: 0;
		}
		&:hover{
			background: $nomosLightLightGrey;
			cursor: pointer;
			z-index: 2;
			//transition: all .3s ease-out-in;
			//transform: scale3d(1.1,1.1,1.1);
		}
	}
}