@import "../../globals/styles/_global.scss";
@import "../InputText/inputText.scss";
@import "./react-datetime.css";

.InputDate {
		composes: InputText;
	  //color: yellow;
	.dateTime{
		// utility class passed to the date time
	}
	

	:global{
		.form-control{
				border: 1px solid $nomosLine;
				padding-left: 8px;
				line-height: 1.5em;
				background: #fff;
		}		
		.rdtPicker {
			width: 100%;
			min-width: 350px;
		}
	} // ends gl0bal
	
	//BASE TABLE STYLING
	table {
		display: table;
    border-spacing: 0;
    border-collapse: collapse;
    tr {
			background-color: transparent;
			border-top: 1px solid transparent;
			 &:nth-child(2n){
				 //background-color: #f8f8f8;
				 background-color: transparent;
			 }
    }
    th, td{
	    padding: 6px 13px;
			border: 0px solid $nomosLine;
    }
    th{
	    font-weight: bold;
    }
	}

	table {
	  width: 100%;
	  margin: 0;
	}
	td, th {
	  text-align: center;
	  height: 28px;
	}
	td {
	  cursor: pointer;
		&:hover{
			background: $nomosLightLightGrey;
		}
	}

	// RANGE ADD
	.rangeSelect{
		position: absolute;
		right: 0;
		top: 8px;
		width: 50px;
		background: $nomosLightLightGrey;
		border: 1px solid $nomosLine;
		z-index: 9999999;
		font-size: $font-size-small;
		cursor: pointer;
		.rangeTrigger{
			padding: 5px;
			display: block;
			&:hover{
				background: #fff;
			}
		}
	}
	
	.rangeContent{
    position: absolute;
    z-index: 999999;
    right: 0;
    margin-top: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 3px;
    min-width: 100px;
	}
	
}

// THIS IS A BAD SOLUTION!
// WE NEED TO FIGURE OUT 
// THESE SPRT OF THINGS
:global {
	.rdt {
	  position: relative;
	}
	.rdtPicker {
	  display: none;
	  position: absolute;
	  width: 250px;
	  padding: 4px;
	  margin-top: 1px;
	  z-index: 99999 !important;
	  background: #fff;
	  box-shadow: 0 1px 3px rgba(0,0,0,.1);
	  border: 1px solid #f9f9f9;
	}
	.rdtOpen .rdtPicker {
	  display: block;
	}
	.rdtStatic .rdtPicker {
	  box-shadow: none;
	  position: static;
	}
	
	.rdtPicker .rdtTimeToggle {
	  text-align: center;
	  border-top: 1px solid $nomosLightLightGrey
	}
	
/*
	.rdtPicker td,
	.rdtPicker th {
	  text-align: center;
	  height: 28px;
	}
*/
/*
	.rdtPicker td.rdtDay:hover,
	.rdtPicker td.rdtHour:hover,
	.rdtPicker td.rdtMinute:hover,
	.rdtPicker td.rdtSecond:hover,
	.rdtPicker .rdtTimeToggle:hover {
	  background: #eeeeee;
	  cursor: pointer;
	}
*/
	.rdtPicker td.rdtOld,
	.rdtPicker td.rdtNew {
	  color: #999999;
	}
	.rdtPicker td.rdtToday {
	  position: relative;
	}
	.rdtPicker td.rdtToday:before {
	  content: '';
	  display: inline-block;
	  border-left: 7px solid transparent;
	  border-bottom: 7px solid $nomosGreen;
	  border-top-color: rgba(0, 0, 0, 0.2);
	  position: absolute;
	  bottom: 4px;
	  right: 4px;
	}
	.rdtPicker td.rdtActive,
	.rdtPicker td.rdtActive:hover {
	  background-color: $nomosBlue;
	  color: #fff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.rdtPicker td.rdtActive.rdtToday:before {
	  border-bottom-color: #fff;
	}
	.rdtPicker td.rdtDisabled,
	.rdtPicker td.rdtDisabled:hover {
	  background: none;
	  color: #999999;
	  cursor: not-allowed;
	}
	
	.rdtPicker td span.rdtOld {
	  color: #999999;
	}
	.rdtPicker td span.rdtDisabled,
	.rdtPicker td span.rdtDisabled:hover {
	  background: none;
	  color: #999999;
	  cursor: not-allowed;
	}
	.rdtPicker th {
	  border-bottom: 1px solid #f9f9f9;
	}
	.rdtPicker .dow {
	  width: 14.2857%;
	  border-bottom: none;
	}
	.rdtPicker th.rdtSwitch {
	  width: 100px;
	  &:after{
			content: "\2039\203A";
	    font-size: 16px;
	    transform: rotate(90deg);
	    display: inline-block;
	    position: relative;
	    text-align: center;
	    vertical-align: middle;
	    padding: 0;
	    padding-right: 4px;
	    margin-left: 8px;
	    color: $nomosBlue;
	  }
	}
	.rdtPicker .rdtYears th.rdtSwitch{
		&:after{display: none;}
	}
	
	.rdtPicker th.rdtNext,
	.rdtPicker th.rdtPrev {
	  font-size: 21px;
	  vertical-align: top;
	}
	
	.rdtPrev span,
	.rdtNext span {
	  display: block;
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	  -khtml-user-select: none;    /* Konqueror */
	  -moz-user-select: none;      /* Firefox */
	  -ms-user-select: none;       /* Internet Explorer/Edge */
	  user-select: none;
	}
	
	.rdtPicker th.rdtDisabled,
	.rdtPicker th.rdtDisabled:hover {
	  background: none;
	  color: #999999;
	  cursor: not-allowed;
	}
	.rdtPicker thead tr:first-child th {
	  cursor: pointer;
	}
	.rdtPicker thead tr:first-child th:hover {
	  background: $nomosLightLightGrey;
	}
	
	.rdtPicker tfoot {
	  border-top: 1px solid #f9f9f9;
	}
	
	.rdtPicker button {
	  border: none;
	  background: none;
	  cursor: pointer;
	}
	.rdtPicker button:hover {
	  background-color: $nomosLightLightGrey;
	}
	
	.rdtPicker thead button {
	  width: 100%;
	  height: 100%;
	}
	
	td.rdtMonth,
	td.rdtYear {
	  height: 50px;
	  width: 25%;
	  cursor: pointer;
	}
	td.rdtMonth:hover,
	td.rdtYear:hover {
	  background: #eee;
	}
	
	.rdtCounters {
	  display: inline-block;
	}
	
	.rdtCounters > div {
	  float: left;
	}
	
	.rdtCounter {
	  height: 100px;
	}
	
	.rdtCounter {
	  width: 40px;
	}
	
	.rdtCounterSeparator {
	  line-height: 100px;
	}
	
	.rdtCounter .rdtBtn {
	  height: 40%;
	  line-height: 40px;
	  cursor: pointer;
	  display: block;
	
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	  -khtml-user-select: none;    /* Konqueror */
	  -moz-user-select: none;      /* Firefox */
	  -ms-user-select: none;       /* Internet Explorer/Edge */
	  user-select: none;
	}
	.rdtCounter .rdtBtn:hover {
	  background: $nomosLightLightGrey;
	}
	.rdtCounter .rdtCount {
	  height: 20%;
	  font-size: 1.2em;
	}
	
	.rdtMilli {
	  vertical-align: middle;
	  padding-left: 8px;
	  width: 48px;
	}
	
	.rdtMilli input {
	  width: 100%;
	  font-size: 1.2em;
	  margin-top: 37px;
	}}