@import "../../globals/styles/_global.scss";

.QuickView{
	position: relative;
	cursor: pointer;
	.viewContent{
    position: absolute;
    min-width: 200px;
    height: 100px;
		left: 50%;
    background: #fff;
    margin-top: -112px;
    margin-left: -100px;
    opacity: 0;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    z-index: 9999;
    color: $nomosBlack;

    opacity: 0;
    visibility: hidden;
    transform-origin: 50% 100%;
    transform: scale(0.5) translate(0, 30px);
    transition: all 0.4s cubic-bezier(0.3, 0.1, 0, 1.3);
	}
	.triangle{
		width: 12px;
		height: 12px;
		background: #fff;
		display: block;
		position: absolute;
		bottom: -6px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		transform: rotate(45deg);
		box-shadow: 1px 1px 1px -1px rgba(0,0,0,.4);
	}
	&.showInfo{
		.viewContent{
			opacity: 1;
			// display: block;
	    visibility: visible;
	    transform: scale(1) translate(0, 0);
		}
	}
	// aligning right;
	&.alignRight{
		.viewContent{
			left: inherit;
			right: 0;
		}
		.triangle{
			left: inherit;
			right: 2px;
		}
	}
	// aligning left;
	&.alignLeft{
		.viewContent{
			left: 0;
			right: inherit;
			margin-left: 0 !important;
		}
		.triangle{
			left: 2px;
			right: inherit;
		}
	}
}


@keyframes slideUp {
    from {
      opacity: 0;
	    transform: translateY(8px);
    }
    to {
	   opacity: 1;
	    transform: translateY(0px);
    }
}
