@import "_variables.scss";

:global{
	*, *:before, *:after{
		-moz-box-sizing: border-box; 
		-ms-box-sizing: border-box; 
		box-sizing: border-box !important; 
	}
	    
	body {
		>div{
		//	border: 1px solid red;
		}
		>div#content{
		//	border: 1px solid blue;
		}
	}
	h1{}
	p{	}
}

a{
	color: $nomosBlue;
	outline: none;
	text-decoration: none;
}
p a{
	text-decoration: underline;
}
.padding{
	padding: 8px;
}

p.description{
	font-style: italic;
	color: $nomosGrey;
}

/*
* MEDIA OBJECT
*/

	.media{
	  display: flex;
	  align-items: flex-start;
	  text-decoration: none;
		.figure{
			width: 24px;
			display: block;
			margin-right: $padding;
		}
		.body{
			flex: 1;
			h5{
				font-weight: normal;
				text-decoration: none;
			}
		}
	}


/*
* TOOLTIPS
*/

.tooltip{
	background-color: #fff !important;
	color: $nomosBlack !important;
	transition: opacity .5s ease !important;
	opacity: 1 !important;
	text-align: left !important;
	box-shadow: 0 0 8px -2px rgba(0,0,0,.4) !important;
	font-size: $font-size-small;
	text-transform: none;
	font-weight: normal;
	text-decoration: none;
	&.place-top{
		background: lime !important;
	}
}

/*
* ANIMATIONS
*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
@keyframes slideUp {
    from {
      opacity: 0;
	    transform: translateY(0px);
    }
    to {
	    opacity: 0;
	    transform: translateY(-5px);
    }
}