@import "../../globals/styles/_global.scss";

$sizeSmall: 24px;
$sizeMedium: 32px;
$sizeLarge: 100px;

.Avatar{
	width: $sizeSmall;
	height: $sizeSmall;
	border: 0px solid #fff;
	overflow: hidden;
	position: relative;
  display: inline-block;
  vertical-align: middle;
	.avatarImage{
    max-height: inherit;
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    position: relative;
    border: none;   
    border-radius: $sizeSmall; 
	}
	.iconWrap svg{
		width: 100%;
    height: 100%;
    line-height: 100%;
	}
	&.small{
		width: $sizeSmall;
		height: $sizeSmall;
		.iconWrap{
			width: $sizeSmall;
		}
	}
	&.medium{
		width: $sizeMedium;
		height: $sizeMedium;
		.iconWrap{
			width: $sizeMedium;
		}
	}
	&.large{
		width: $sizeLarge;
		height: $sizeLarge;
		.iconWrap{
			width: $sizeLarge;
		}
	}
	&.fill{
		width: 100%;
		height: 100%;
		vertical-align: top;
		display: block;
	}
	&.user{
		.avatarImage{
			border-radius: 100%;
		}
	}
	&.org, &.organisation{
		border-radius: 3px;
		.avatarImage{
			border-radius: 3px;
		}
	}

}