@import "../../globals/styles/_global.scss";
@import "../../globals/styles/_layouts.scss";

.Summary{
	// STRUCTURAL DIVS
	.header{
	}
	.content{
	}
	.hero{
	// 		unused
		display: none;
	}
	.navWrap{
		
	}
	.nav{
		
	}
	.supplimentary{
	// unused		
	display: none;
	}
	.main{
		min-height: 100%;
	}
	.secondary{
		
	}
	.footer{
		width: 100%;
	}
	

	//CONTENT
	.content{
		lost-column: 9/12;
	}
	@media screen and (max-width: 1700px){
		.content{
			lost-column: 10/12;
		}
	}
	@media screen and (max-width: 1500px){
		.content{
			lost-column: 12/12;
		}
	}
	// SECONDARY
	.secondary{
		lost-column: 3/12;
	}
	@media screen and (max-width: 1700px){
		.secondary{
			lost-column: 2/12;
		}
	}
	@media screen and (max-width: 1500px){
		.secondary{
			lost-column: 12/12;
		}
	}

	//INSIDE CONTENT
	//MAIN
	.main{
		lost-column: 12/12;
	}
	@media screen and (max-width: 1000px){
		.main{
			lost-column: 12/12;
		}
	}

}