@import "../../globals/styles/_global.scss";
@import "../../globals/styles/_layouts.scss";

.Summary{
	// STRUCTURAL DIVS
	.header{
	}
	.content{
	}
	.hero{
	// 		unused
		display: none;
	}
	.navWrap{
		
	}
	.nav{
		
	}
	.supplimentary{
	// unused		
	display: none;
	}
	.main{
		min-height: 100%;
	}
	.secondary{
		
	}
	.footer{
		width: 100%;
	}
	

	//GRID SETUPS
	/*See _layouts.scss*/
	//CONTENT
}