@import "../../globals/styles/_global.scss";
.Column{
	&.isFlex{
		lost-flex-container: column;
	}
	&.devMode{
		background: rgba(0, 146, 255, 0.15);
		border: 1px solid rgba(0, 146, 255, 0.25);
	}
	&.hasPadding{
		padding: 8px;
	}
	&.collapseMargin{
		margin: 0;
	}
	//lost-column: attr(data-occupy)/attr(data-of);
	// lost-column: var(--nomos-occupyWidth)/var(--nomos-totalWidth);

	&[data-occupy="1"] { lost-column: 1/12;}
	&[data-occupy="2"] { lost-column: 2/12;}
	&[data-occupy="3"] { lost-column: 3/12;}
	&[data-occupy="4"] { lost-column: 4/12;}
	&[data-occupy="5"] { lost-column: 5/12;}
	&[data-occupy="6"] { lost-column: 6/12;}
	&[data-occupy="7"] { lost-column: 7/12;}
	&[data-occupy="8"] { lost-column: 8/12;}
	&[data-occupy="9"] { lost-column: 9/12;}
	&[data-occupy="10"] { lost-column: 10/12;}
	&[data-occupy="11"] { lost-column: 11/12;}
	&[data-occupy="12"] { lost-column: 12/12;}
	
	// COLORS
	&.black{
		background: $nomosBlack;
	}
	&.darkGrey{
		background: $nomosDarkGrey;
	}
	&.grey{
		background: $nomosGrey;
	}
	&.lightGrey{
		background: $nomosLightGrey;
	}
	&.lightLightGrey{
		background: $nomosLightLightGrey;
	}
	&.white{
		background: #fff;
	}
	&.blue{
		background: $nomosBlue;
	}
	&.red{
		background: $nomosRed;
	}
	&.orange{
		background: $nomosOrange;
	}
	&.green{
		background: $nomosGreen;
	}

}