@import "../../globals/styles/_global.scss";

.AccordionSection{
	.titleBar{
  	background: #f3f3f3;
  	border-top: 0px solid #ddd;
  	border-left: 1px solid #ddd;
  	border-right: 1px solid #ddd;
		border-bottom: 0px solid #ddd; 
  	border-radius: 0;
		padding: 16px;
		position: relative;
    user-select: none;
    cursor: pointer;
    transition: background .3s ease;
    text-transform: uppercase;
    color: $nomosGrey;
        
    .iconWrap{
	    position:	absolute;
	    right: 0;
			top: 0;
			width: 48px;
			height: 48px;
			padding: 19px;
	    display: block;
			transition: transform .3s ease;
			transform-origin: 50% 50%;
    }
    
    &.active{
	    background: #f9f9f9;
	    .iconWrap{
		    transform: rotate(180deg);
	    }
    }
  }
  &:first-child{
	  .titleBar{
	    border-radius: 3px 3px 0 0;
	    border-top: 1px solid #ddd;
	  }
  }
  &:last-child{
	  .titleBar{
	    border-radius: 0 0 3px 3px;
	  }
  }

	.contentPanel{
    overflow: hidden;
    transition: height .3s ease;
    padding: 0;
    background: #fff;
    // border: 1px solid #ddd;
  	border-top: 0px solid #ddd;
  	border-left: 1px solid #ddd;
  	border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd; 
    .innerContent{
	    border-top: 1px solid #f3f3f3;
	    padding: 16px;
	    // margin-left: 32px;
    }
  }
	+ .AccordionSection{
		.titleBar{

		}
	}
}