@import "../../globals/styles/_global.scss";

.SettingsIntegrations{
	.connectedStatus{
		color: $nomosGreen;
	}
	.notConnectedStatus{
		color: $nomosGrey;
	}
	.unavailableStatus{
		color: $nomosBlack;
	}
	// hack to make the links space
	> a{
		margin-bottom: 8px;
		display: block;
	}
}