@import "../../globals/styles/_global.scss";

.SubNavWrap{
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0;
	li{
		border-bottom: 1px dashed #ddd; 
		border-left: 4px solid transparent;
		padding-left: 4px;
		line-height: 32px;
		> span{
			padding: 4px;	
			color: $nomosGrey;
			display: block;
			text-align: left;
			line-height: $padding*3;
			cursor: pointer;
		}
		&.isSelected{
			border-left: 4px solid $nomosBlue;
			position: relative;
			background: url(../../images/icons/interface/chevron-right.svg) right center no-repeat;
			> span{
				color: $nomosBlue;
			}
		}
	}
}