@import "../../globals/styles/_global.scss";

.DevContent{
	.largeIconWrap{
		text-align: center;
		width: 100%;
		&:hover{
			svg{
				box-shadow: 0 0 16px -2px rgba(0,0,0,.2);
			}
		}
	}
	.item{
		// background: #f9f9f9;
		padding: 8px;
		list-style-type: none;
		border-bottom: 1px solid #ddd;
		line-height: 32px;
		font-size: 14px;
		font-weight: normal;
		&.isSelected{
			border-left: 4px solid $nomosBlue;
			background: #f9f9f9;
		}
		&:hover{
			cursor: pointer;
			background: $nomosLightLightGrey;
		}
	}	
	.detail{
		//border: 1px solid #ddd;
		padding: 24px 24px 16px;
		z-index: 4;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 0 6px -2px rgba(0,0,0,.2);
		animation: slideLeft .3s ease;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;	
		.tag{
	    border: 1px solid #ddd;
	    padding: 2px 4px;
	    margin-right: 4px;
	    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
	    font-size: $font-size-small;
		}
		.sectionItem{
			border-bottom: 1px dotted #ddd;
		}
		.preview{
			padding: 32px;
			background: #f3f3f3;
			// margin: '0 -8px'
			margin: 0 -24px;
			.previewNav{
				width: 20%;
			}
		}
		.code{
			background: $nomosBlack;
			color: #eee;
			border-radius: 0 0 3px 3px;
			padding: 24px;
			// margin: '0px -8px -24px'}
			margin: 0 -24px;
		}
	}
}

@keyframes slideLeft {
  0% {
	  transform: translate3d(100px, 0, 0);
  }
  100% {
	  transform: translate3d(0px, 0, 0);
	}
}
