@import "../../globals/styles/_global.scss";

.DevContent{
	.largeIconWrap{
		text-align: center;
		width: 100%;
		&:hover{
			svg{
				box-shadow: 0 0 16px -2px rgba(0,0,0,.2);
			}
		}
	}
	.smallIconWrap{
		text-align: center;
		width: 32px;
		height: 32px;
		display: inline-block;
		margin-right: 8px;
		line-height: 32px;
		vertical-align: middle;
		svg{
			width: auto;
			height: 100%;
		}
	}
	.rowItem{
		// background: #f9f9f9;
		padding: 8px;
		list-style-type: none;
		border-bottom: 1px solid #ddd;
		line-height: 32px;
		font-size: 14px;
		font-weight: normal;
		&.isSelected{
			border-left: 4px solid $nomosBlue;
			background: #f9f9f9;
		}
		&:hover{
			cursor: pointer;
			background: $nomosLightLightGrey;
		}
	}	
	.detail{
		//border: 1px solid #ddd;
		padding: 24px 24px 16px;
		z-index: 4;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 0 6px -2px rgba(0,0,0,.2);
		animation: slideLeft .3s ease;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;	
		.tag{
	    border: 1px solid #ddd;
	    padding: 2px 4px;
	    margin-right: 4px;
	    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
	    font-size: $font-size-small;
		}
		.sectionItem{
			border-bottom: 1px dotted #ddd;
		}
		.preview{
			padding: 32px;
			background: #f9f9f9;
			// margin: '0 -8px'
			margin: -8px -24px -16px;
			.previewNav{
				width: 20%;
			}
			.componentPlaceholder{
				padding: 1em;
				border: 1px dotted #ddd;
				background: #fff;
				text-align: center;
				> div{
					font-style: italic;
					color: $nomosGrey;
				}
			}
		}
		.code{
			background: $nomosBlack;
			color: #eee;
			border-radius: 0 0 3px 3px;
			padding: 24px;
			// margin: '0px -8px -24px'}
			margin: -8px -24px -16px;
		}
	}
	.filterTitle{
		text-transform: capitalize;
	}
	.templateRow{
		// background: rgba(218, 223, 228, 0.13);
		margin-bottom: 4px;
		&.isOpen{
			// background: rgb(250, 251, 252);
			// padding: 4px;
			// border: 1px solid #f3f3f3;
			border-bottom: 2px solid #fff;
			.childIndicator{
				// background: #f3f3f3;
			}
		}
			&.isOpen > div > div > div > div{
				&.childIndicator{
					border: 1px solid transparent;
					background: transparent;
				}				
			}
		&.hasChildren .childIndicator{
			cursor: pointer;
		}
		&.object .childIndicator{
			// padding-left: 0;
		}
		&.page .childIndicator{
			// padding-left: 16px;
		}
		&.section .childIndicator{
			// margin-left: 24px;
		}
		&.item .childIndicator{
			// margin-left: 24px;
		}
		&.component .childIndicator{
			// margin-left: 48px;
		}
		.buttonWrap{
			text-align: right;
		}
		.templateRow{
			margin-left: 40px;
			// border-top: 1px dotted #ddd;
			padding-top: 4px;
/*
			&.isOpen > div > div > div{
				&.childIndicator{
					background: #fff;
				}				
			}
*/
		}
	}
	
	.templateItem{
		border-bottom: 1px dotted #eee;
		width: 100%;
		&:hover{
			background: #f3f3f3;
		}
	}
	.childTemplates{
		padding-left: 0px;
		width: 100%;
		padding-bottom: 8px;
		border-bottom: 1px dashed #ccc;
	}
	.childIndicator{
		// padding-left: 16px;
		// background: #f9f9f9;
		padding: 9px 11px;
		display: inline-block;
		height: 32px;
		width: 32px;
		// border: 1px solid #ddd;
		border-radius: 3px;
		&:hover{
			background: #f3f3f3;
		}
	}
	.iconWrap{
		display: inline-block;
	}
	
}

.DevContentEdit{
	.buttonWrap{
		text-align: right;
	}
}

.DevContentEditHero{
	.buttonWrap{
		text-align: right;
	}
}

@keyframes slideLeft {
  0% {
	  transform: translate3d(100px, 0, 0);
  }
  100% {
	  transform: translate3d(0px, 0, 0);
	}
}
